<!doctype html>
<title>{% block title %}abrv.io{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div id="wrapper">
  <header>{% block header %}{% endblock %}</header>
  <section id="content">
    {% block content %}
    <h1>abrv.io</h1>
    <form method="post" class="url-entry-container">
      <input name="url" type="text" id="url-entry-bar" placeholder="Enter a URL to shorten">
    </form>
    {% endblock %}
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% if g.most_recent_url %}
      <p>{{ g.most_recent_url }}</p>
      <p>shortens to</p>
      {% if g.most_recent_short %}
        <p>
          <a href="{{ g.most_recent_short }}">{{ g.most_recent_short }}</a>
        </p>
      {% endif %}
    {% endif %}
  </section>
  <footer>&copy; Shawn M. Chapla 2019</footer>
</div>
